header img{
    width: 60px;
}

button.btn-color{
    background-color: #01E265;
}
header h1{
    color: #001433;
    margin-top: 10px;
}

aside{
    height: 56px;
}

main{
    background-color: grey;
    padding-top: 20px;
    height: calc(100vh - 142px);
    overflow: auto;
}

div.grid{
    width: 500px;
    height: 500px;
    margin: auto;
}


div.square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    cursor: crosshair;
}

div.active{
    background-color: rgb(66, 66, 66);
}

div.lose{
    background-image: url(https://cdn-icons-png.flaticon.com/512/112/112683.png);
    background-position: center;
    background-color: darkred;
    background-repeat: no-repeat;
    background-size: contain;
}